.aside-component {
  background-color: var(--white);
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}

@media screen and (max-width: 1024px) {
  .aside-component {
    display: none;
  }
}
