.header-component {
  background-color: var(--black);
  width: 100%;
  height: 500px;
  position: relative;
}

.header-component__banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.65;
}

.header-component__container {
  position: absolute;
  *background: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-component__container .potrait-component {
  align-self: center;
}

.header-component__container__info {
  color: var(--white);
  text-align: center;
}

.header-component__container__info h1 {
  font-size: calc(1vw + 4vh);
}

.header-component__container__info h4 {
  font-weight: 400;
  font-size: 23px;
  color: var(--grey);
}

.header-component__container__buttons {
  margin: 0 auto;
}

.header-component__container__buttons a {
  color: white;
  text-decoration: none;
  font-family: "Helvetica Now Text";
  border: 2px solid rgb(74, 77, 252);
  transition: background-color 200ms linear;
  padding: 5px 30px;
  font-size: 17px;
  font-weight: 500;
}

.header-component__container__buttons a:hover {
  background-color: rgb(74, 77, 252);
  transition: background-color 200ms linear;
  cursor: pointer;
}
