.proyectSummary_Component {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 35px 0;
  padding: 5px 5px 20px 5px;
  border-radius: 3px;
  background-color: white;
  transition: background-color 240ms;
}

/* UTIL
.summary-video__wrapper {
  height: auto;
  padding: 60% 0 0 0;
  position: relative;
}

.summary-video__wrapper iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}*/

.ps_open {
  background-color: rgb(233, 233, 233);
  transition: background-color 240ms;
}

.summary__title {
  font-size: 21px;
}

.summary__container__softwares::before {
  content: "Softwares utilizados: ";
  font-weight: 500;
}

.summary__container p {
  font-size: 15px;
}

.summary__dateRange {
  flex-basis: 25%;
  margin: 0 !important;
  *background-color: rgb(20, 255, 99);
}

.summary__details {
  *background-color: rgb(255, 230, 2);
  flex-basis: 75%;
}

.summary__container {
  width: 100%;
  height: auto;
  *background-color: red;
}

.summary__container > * {
  margin: 15px 0;
}

.summary__container details {
  margin-left: 30px;
  width: calc(100% - 80px);
}

.summary__container img,
video {
  object-fit: contain;
  width: 100%;
  margin: 20px auto;
}

.summary__container__link {
  font-size: 15px;
  color: var(--lightblue);
  font-weight: 500;
}

details[open] summary ~ * {
  height: auto;
  animation: sweepin 0.3s ease-in-out;
}

@keyframes sweepin {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 525px) {
  .proyectSummary_Component {
    flex-direction: column;
  }

  .summary__container details {
    width: calc(100% - 30px);
  }

  .summary__dateRange {
    *background-color: rgb(20, 255, 99);
    margin-bottom: 4px;
  }
  .summary__details {
    *background-color: rgb(255, 230, 2);
  }
}
