.education-list__item {
  margin: 30px 0;
}

.education-list__item p {
  margin: 0;
}

.education-list__item__date p {
  letter-spacing: 2px;
  font-size: 17px;
}

.education-list__item__info p {
  display: inline-block;
  margin-right: 10px;
}

.education-list__item__info p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
}

.education-list__item__status p {
  font-size: 15px;
}
