.PrincipalPage,
.principalPage-content {
  width: 100%;
}

.principalPage-content {
  margin: 50px 0px;
}

.PrincipalPage p,
ul {
  font-size: 18px;
}

footer {
  width: 100%;
  height: 100px;
  color: var(--white);
  background-color: var(--black);
}

.section-component__content {
  width: 88%;
  margin: 0 auto;
  min-height: auto;
}

.section-component__content p {
  margin: 10px 0;
}

.section-component {
  margin: 20px 0;
}
