@font-face {
  font-family: "Helvetica Now Text";
  src: url("./resources/fonts/helvetica/HelveticaNowText-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./resources/fonts/helvetica/HelveticaNowText-Bold.woff2")
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./resources/fonts/helvetica/HelveticaNowText-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Now Text";
  src: url("./resources/fonts/helvetica/HelveticaNowText-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("./resources/fonts/kanit/Kanit-Bold.woff2") format("woff2"),
    url("./resources/fonts/kanit/Kanit-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("./resources/fonts/kanit/Kanit-Regular.woff2") format("woff2"),
    url("./resources/fonts/kanit/Kanit-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Kanit";
  src: url("./resources/fonts/kanit/Kanit-Light.woff2") format("woff2"),
    url("./resources/fonts/kanit/Kanit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ul li {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --black: #252525;
  --white: #eee;
  --grey: #dbdbdb;
  --darkgrey: #333333;
  --lightblue: #159aa3;
}

p {
  color: var(--darkgrey);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Kanit";
  letter-spacing: 1px;
  color: var(--black);
}

summary {
  font-family: "Kanit";
  font-weight: 500;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
}

ul,
p,
a {
  font-family: "Helvetica Now Text";
  font-weight: normal;
}
