@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Open+Sans:wght@300;400;500;700&family=Raleway:wght@200;400&display=swap');

body,
h1,
h2,
h3,
h4,
h6,
p,
ul,
ul li {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  --black: #252525;
  --text: #eee;
  --subtext: #adadad;
  --darkgrey: #333333;
  --secondary: #159aa3;
  --primary: #e7484c;
  --background-1:  #070d12;
  --background-2: #061018;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: var(--subtext);
  line-height: 1.7em;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4, h5, h6 {
  font-family: 'Kanit', sans-serif;
  letter-spacing: 1px;
  color: var(--text);
}

summary {

  font-weight: 500;
  cursor: pointer;
}

h1 {
  text-transform: uppercase;
}

ul,
p,
a {

  font-weight: normal;
}
